<ion-content>
	
		<router-outlet></router-outlet>
		<ion-tabs slot="bottom">
		  <ion-tab-button routerLink="home" tab="">
			<ion-label>Home</ion-label>
			<ion-icon name="home"></ion-icon>
		  </ion-tab-button>
		  <ion-tab-button routerLink="/patients" tab="patient">
			<ion-label>Patienten</ion-label>
			<ion-icon name="person"></ion-icon>
		  </ion-tab-button>
		  <ion-tab-button routerLink="/treatments/types" tab="settings">
			<ion-label>Einstellungen</ion-label>
			<ion-icon name="settings"></ion-icon>
		  </ion-tab-button>
		</ion-tabs>
	</ion-content>
	<ion-menu side="start" menuId="first">
			<ion-header>
			</ion-header>
			<ion-content>
			  <ion-list>
				<ion-item>Menu Item</ion-item>
				<ion-item>Menu Item</ion-item>
				<ion-item>Menu Item</ion-item>
				<ion-item>Menu Item</ion-item>
				<ion-item>Menu Item</ion-item>
			  </ion-list>
			</ion-content>
		  </ion-menu>