<!-- <div class="center">

  <ng-container *ngIf="elementCount===0" @ngIfAnimation>
  <mat-icon>{{areaIcon}}</mat-icon>
  <div class="area-text">{{areaName}} Auswählen</div>
  <div class="area-actions">
  </div>
</ng-container>
<ng-container *ngIf="elementCount===1" @ngIfAnimation>
  BLABLABLA
  <ng-content></ng-content>
</ng-container>
<ng-container *ngIf="elementCount>1" @ngIfAnimation>
    <mat-icon>{{areaIcon}}</mat-icon>
    <div class="area-text">{{elementCount}} - {{areaName}} ausgewählt.</div>
    <div class="area-actions">
    </div>
</ng-container>
</div> -->
<ng-content>
  
</ng-content>