<form (ngSubmit)="onSubmit($event)" [formGroup]="treatmentForm">
  <ion-item>
    <ion-input 
    formControlName="price" required type="number" placeholder="Nachname">
    </ion-input>
  </ion-item>
    <ion-item>
      <ion-label>Behandlungstyp</ion-label>
      <ion-select placeholder="Auswählen" (ionChange)="selectChange($event)">
        <ng-container *ngFor="let type of treatmentTypes">
            <ion-select-option [value]="type.id" [title]="type.description">{{type.name}}</ion-select-option>
        </ng-container>
      </ion-select>
    </ion-item>

  <ion-button type="submit" [disabled]="treatmentForm.invalid" size="small">Behandlung hinzufügen</ion-button>
</form>